body {
  overflow: hidden; }

a, button {
  cursor: pointer; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.fab {
  background-color: #dbff00;
  background-size: cover;
  border: 2px solid #dbff00;
  border-radius: 20px;
  height: 40px;
  outline: 0;
  padding: 6px;
  position: absolute;
  transition: background .2s ease, border .2s ease;
  width: 40px; }
  .fab .icon {
    height: 24px;
    width: 24px; }
  .fab:active, .fab:focus, .fab:hover {
    background-color: #85b900;
    border-color: #85b900; }
    .fab:active .icon, .fab:focus .icon, .fab:hover .icon {
      fill: #FFF; }

#views {
  top: 16px;
  left: 16px; }

#avatar {
  top: 16px;
  right: 16px; }

#bottom_menu {
  background: #FFF;
  bottom: 0;
  border-radius: 16px 16px 0 0;
  left: 48px;
  overflow: hidden;
  position: absolute;
  width: calc(100% - 92px); }
  #bottom_menu ul {
    display: flex; }
    #bottom_menu ul li {
      flex-grow: 1;
      flex-shrink: 0;
      height: 48px; }
      #bottom_menu ul li button {
        border: 0;
        font-size: 18px;
        height: 100%;
        padding-top: 8px;
        width: 100%; }

.spinner {
  height: 54px;
  margin: 28px auto 14px auto;
  opacity: 0;
  transition-property: height, opacity;
  width: 54px;
  z-index: 5; }
  .spinner svg {
    animation: spinner 1.5s linear infinite;
    height: 54px;
    width: 54px; }
    .spinner svg .progress {
      animation: progress 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
      fill: none;
      stroke: #dbff00;
      stroke-linecap: round;
      stroke-width: 3; }

@keyframes spinner {
  0% {
    transform: rotate(-110deg); }
  20% {
    transform: rotate(-70deg); }
  60% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(250deg); } }

@keyframes progress {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0; }
  20% {
    stroke-dasharray: 1, 150;
    stroke-dash-offset: 0; }
  60% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124; } }

::selection {
  background: #dbff00;
  /* WebKit/Blink Browsers */
  color: #000; }

::-moz-selection {
  background: #dbff00;
  /* Gecko Browsers */
  color: #000; }
